[submodule "iOS/BaiLian"]
	path = iOS/BaiLian
	url = git@gitlab.bl.com:iOS/BaiLian
[submodule "iOS_Business/DJClassifyList"]
	path = iOS_Business/DJClassifyList
	url = git@gitlab.bl.com:iOS_Business/DJClassifyList
[submodule "iOS_Business/BLOrder"]
	path = iOS_Business/BLOrder
	url = git@gitlab.bl.com:iOS_Business/BLOrder
[submodule "iOS_ViewComponents/DJNewModuleHome"]
	path = iOS_ViewComponents/DJNewModuleHome
	url = git@gitlab.bl.com:iOS_ViewComponents/DJNewModuleHome
[submodule "iOS_Business/DJOrderListView"]
	path = iOS_Business/DJOrderListView
	url = git@gitlab.bl.com:iOS_Business/DJOrderListView
[submodule "iOS/BLRepositories"]
	path = iOS/BLRepositories
	url = git@gitlab.bl.com:iOS/BLRepositories
[submodule "iOS_Business/BLGoodsDetail"]
	path = iOS_Business/BLGoodsDetail
	url = git@gitlab.bl.com:iOS_Business/BLGoodsDetail
[submodule "iOS_Business/BLCloudStore"]
	path = iOS_Business/BLCloudStore
	url = git@gitlab.bl.com:iOS_Business/BLCloudStore
[submodule "iOS/BLRepositories_bin"]
	path = iOS/BLRepositories_bin
	url = git@gitlab.bl.com:iOS/BLRepositories_bin
[submodule "cloudstore/04_CloudStore_iOS_IMSDK"]
	path = cloudstore/04_CloudStore_iOS_IMSDK
	url = git@gitlab.bl.com:cloudstore/04_CloudStore_iOS_IMSDK
[submodule "xuyunpeng/DJShoppingCartModule"]
	path = xuyunpeng/DJShoppingCartModule
	url = git@gitlab.bl.com:xuyunpeng/DJShoppingCartModule
[submodule "DaoJia/DJNavigationView"]
	path = DaoJia/DJNavigationView
	url = git@gitlab.bl.com:DaoJia/DJNavigationView
[submodule "iOS_Modulization_Demo/Btest"]
	path = iOS_Modulization_Demo/Btest
	url = git@gitlab.bl.com:iOS_Modulization_Demo/Btest
[submodule "iOS_Tools/BLCategories"]
	path = iOS_Tools/BLCategories
	url = git@gitlab.bl.com:iOS_Tools/BLCategories
[submodule "cloudstore/04_CloudStore_iOS_JsBridge"]
	path = cloudstore/04_CloudStore_iOS_JsBridge
	url = git@gitlab.bl.com:cloudstore/04_CloudStore_iOS_JsBridge
[submodule "cloudstore/04_BLPSDK_Core_iOS"]
	path = cloudstore/04_BLPSDK_Core_iOS
	url = git@gitlab.bl.com:cloudstore/04_BLPSDK_Core_iOS
[submodule "iOS_Business/BLHome"]
	path = iOS_Business/BLHome
	url = git@gitlab.bl.com:iOS_Business/BLHome
[submodule "iOS_Business/DJStoreList"]
	path = iOS_Business/DJStoreList
	url = git@gitlab.bl.com:iOS_Business/DJStoreList
[submodule "iOS_Tools/BLSafeFetchDataFunctions"]
	path = iOS_Tools/BLSafeFetchDataFunctions
	url = git@gitlab.bl.com:iOS_Tools/BLSafeFetchDataFunctions
[submodule "iOS_Tools/BLImage"]
	path = iOS_Tools/BLImage
	url = git@gitlab.bl.com:iOS_Tools/BLImage
[submodule "iOS_Business/RisoNewHomeView"]
	path = iOS_Business/RisoNewHomeView
	url = git@gitlab.bl.com:iOS_Business/RisoNewHomeView
[submodule "iOS/BLRiso"]
	path = iOS/BLRiso
	url = git@gitlab.bl.com:iOS/BLRiso
[submodule "iOS/BLiOSAppImages"]
	path = iOS/BLiOSAppImages
	url = git@gitlab.bl.com:iOS/BLiOSAppImages
[submodule "iOS_Business/IBLSearchList"]
	path = iOS_Business/IBLSearchList
	url = git@gitlab.bl.com:iOS_Business/IBLSearchList
[submodule "iOS_ViewComponents/HTHorizontalSelectionList"]
	path = iOS_ViewComponents/HTHorizontalSelectionList
	url = git@gitlab.bl.com:iOS_ViewComponents/HTHorizontalSelectionList
[submodule "iOS_Business/BLUdesk"]
	path = iOS_Business/BLUdesk
	url = git@gitlab.bl.com:iOS_Business/BLUdesk
[submodule "iOS_Foundation/BLDoraemonModule"]
	path = iOS_Foundation/BLDoraemonModule
	url = git@gitlab.bl.com:iOS_Foundation/BLDoraemonModule
[submodule "iOS_Business/BLBusinessProfile"]
	path = iOS_Business/BLBusinessProfile
	url = git@gitlab.bl.com:iOS_Business/BLBusinessProfile
[submodule "IOS_Flutter/BLFlutterPlugins"]
	path = IOS_Flutter/BLFlutterPlugins
	url = git@gitlab.bl.com:IOS_Flutter/BLFlutterPlugins
[submodule "iOS_ViewComponents/BLFlutterRouterManager"]
	path = iOS_ViewComponents/BLFlutterRouterManager
	url = git@gitlab.bl.com:iOS_ViewComponents/BLFlutterRouterManager
[submodule "iOS_Business/BLMemberSDK"]
	path = iOS_Business/BLMemberSDK
	url = git@gitlab.bl.com:iOS_Business/BLMemberSDK
[submodule "iOS_Foundation/BLAPIManagers"]
	path = iOS_Foundation/BLAPIManagers
	url = git@gitlab.bl.com:iOS_Foundation/BLAPIManagers
[submodule "iOS_DataCenters/BLHomeDataSource"]
	path = iOS_DataCenters/BLHomeDataSource
	url = git@gitlab.bl.com:iOS_DataCenters/BLHomeDataSource
[submodule "iOS_Business/BLCategory"]
	path = iOS_Business/BLCategory
	url = git@gitlab.bl.com:iOS_Business/BLCategory
[submodule "iOS_Foundation/BLAdvertResourceJumpManager"]
	path = iOS_Foundation/BLAdvertResourceJumpManager
	url = git@gitlab.bl.com:iOS_Foundation/BLAdvertResourceJumpManager
[submodule "iOS_Business/BLShoppingCartModule"]
	path = iOS_Business/BLShoppingCartModule
	url = git@gitlab.bl.com:iOS_Business/BLShoppingCartModule
[submodule "iOS_Business/DJiOSAppImages"]
	path = iOS_Business/DJiOSAppImages
	url = git@gitlab.bl.com:iOS_Business/DJiOSAppImages
[submodule "iOS_Business/BLShare"]
	path = iOS_Business/BLShare
	url = git@gitlab.bl.com:iOS_Business/BLShare
[submodule "iOS_Business/BLCashier"]
	path = iOS_Business/BLCashier
	url = git@gitlab.bl.com:iOS_Business/BLCashier
[submodule "iOS_Business/BLGuideModule"]
	path = iOS_Business/BLGuideModule
	url = git@gitlab.bl.com:iOS_Business/BLGuideModule
[submodule "iOS_Business/RisoShopCarViewController"]
	path = iOS_Business/RisoShopCarViewController
	url = git@gitlab.bl.com:iOS_Business/RisoShopCarViewController
[submodule "iOS_ViewComponents/BLHomePageViewComponents"]
	path = iOS_ViewComponents/BLHomePageViewComponents
	url = git@gitlab.bl.com:iOS_ViewComponents/BLHomePageViewComponents
[submodule "iOS_Business/BLBrandDetailViewController"]
	path = iOS_Business/BLBrandDetailViewController
	url = git@gitlab.bl.com:iOS_Business/BLBrandDetailViewController
[submodule "iOS_ViewComponents/BLPanicBuyViewComponents"]
	path = iOS_ViewComponents/BLPanicBuyViewComponents
	url = git@gitlab.bl.com:iOS_ViewComponents/BLPanicBuyViewComponents
[submodule "iOS_Business/BLPanicBuyEveryDay"]
	path = iOS_Business/BLPanicBuyEveryDay
	url = git@gitlab.bl.com:iOS_Business/BLPanicBuyEveryDay
[submodule "iOS_Business/BLOrderInvoice"]
	path = iOS_Business/BLOrderInvoice
	url = git@gitlab.bl.com:iOS_Business/BLOrderInvoice
[submodule "iOS_Foundation/RisoAPIManagers"]
	path = iOS_Foundation/RisoAPIManagers
	url = git@gitlab.bl.com:iOS_Foundation/RisoAPIManagers
[submodule "iOS_ViewComponents/RisoAlertView"]
	path = iOS_ViewComponents/RisoAlertView
	url = git@gitlab.bl.com:iOS_ViewComponents/RisoAlertView
[submodule "iOS_Business/BLHomeViewControllers"]
	path = iOS_Business/BLHomeViewControllers
	url = git@gitlab.bl.com:iOS_Business/BLHomeViewControllers
[submodule "iOS_Business/RisoOrderDetailViewController"]
	path = iOS_Business/RisoOrderDetailViewController
	url = git@gitlab.bl.com:iOS_Business/RisoOrderDetailViewController
[submodule "iOS_Foundation/CTAppContext_BaiLian"]
	path = iOS_Foundation/CTAppContext_BaiLian
	url = git@gitlab.bl.com:iOS_Foundation/CTAppContext_BaiLian
[submodule "iOS_Business/DJOrderConfirm"]
	path = iOS_Business/DJOrderConfirm
	url = git@gitlab.bl.com:iOS_Business/DJOrderConfirm
[submodule "iOS_Business/DJChooseAddressView"]
	path = iOS_Business/DJChooseAddressView
	url = git@gitlab.bl.com:iOS_Business/DJChooseAddressView
[submodule "iOS_Business/RisoProductListViewController"]
	path = iOS_Business/RisoProductListViewController
	url = git@gitlab.bl.com:iOS_Business/RisoProductListViewController
[submodule "iOS_Business/DJAddressManageModule"]
	path = iOS_Business/DJAddressManageModule
	url = git@gitlab.bl.com:iOS_Business/DJAddressManageModule
[submodule "iOS_Business/BLCoupon"]
	path = iOS_Business/BLCoupon
	url = git@gitlab.bl.com:iOS_Business/BLCoupon
[submodule "iOS_Business/BLJoinGroup"]
	path = iOS_Business/BLJoinGroup
	url = git@gitlab.bl.com:iOS_Business/BLJoinGroup
[submodule "iOS_Business/BLMembershipBenefits"]
	path = iOS_Business/BLMembershipBenefits
	url = git@gitlab.bl.com:iOS_Business/BLMembershipBenefits
[submodule "iOS_Business/BLSearchKeyWordsViewController"]
	path = iOS_Business/BLSearchKeyWordsViewController
	url = git@gitlab.bl.com:iOS_Business/BLSearchKeyWordsViewController
[submodule "iOS_ViewComponents/BLCouponCenterModule"]
	path = iOS_ViewComponents/BLCouponCenterModule
	url = git@gitlab.bl.com:iOS_ViewComponents/BLCouponCenterModule
[submodule "iOS_Business/RisoOrderConfirmViewController"]
	path = iOS_Business/RisoOrderConfirmViewController
	url = git@gitlab.bl.com:iOS_Business/RisoOrderConfirmViewController
[submodule "iOS_ViewComponents/RisoPagerListView"]
	path = iOS_ViewComponents/RisoPagerListView
	url = git@gitlab.bl.com:iOS_ViewComponents/RisoPagerListView
[submodule "iOS_Business/DJProductDetailView"]
	path = iOS_Business/DJProductDetailView
	url = git@gitlab.bl.com:iOS_Business/DJProductDetailView
[submodule "iOS_Business/BLBasket"]
	path = iOS_Business/BLBasket
	url = git@gitlab.bl.com:iOS_Business/BLBasket
[submodule "iOS_Business/BLHotSale"]
	path = iOS_Business/BLHotSale
	url = git@gitlab.bl.com:iOS_Business/BLHotSale
[submodule "iOS_Business/BLWebViewControllers"]
	path = iOS_Business/BLWebViewControllers
	url = git@gitlab.bl.com:iOS_Business/BLWebViewControllers
[submodule "iOS_ViewComponents/IBLToastView"]
	path = iOS_ViewComponents/IBLToastView
	url = git@gitlab.bl.com:iOS_ViewComponents/IBLToastView
[submodule "iOS_ViewComponents/BLPagerView"]
	path = iOS_ViewComponents/BLPagerView
	url = git@gitlab.bl.com:iOS_ViewComponents/BLPagerView
[submodule "iOS_Business/DJActivityGoodsList"]
	path = iOS_Business/DJActivityGoodsList
	url = git@gitlab.bl.com:iOS_Business/DJActivityGoodsList
[submodule "iOS_DataCenters/DJSearchHistoryManger"]
	path = iOS_DataCenters/DJSearchHistoryManger
	url = git@gitlab.bl.com:iOS_DataCenters/DJSearchHistoryManger
[submodule "iOS_Foundation/BLRawAPIManager"]
	path = iOS_Foundation/BLRawAPIManager
	url = git@gitlab.bl.com:iOS_Foundation/BLRawAPIManager
[submodule "iOS_Business/BLSensorTrack"]
	path = iOS_Business/BLSensorTrack
	url = git@gitlab.bl.com:iOS_Business/BLSensorTrack
[submodule "iOS_Business/BLCheckRedCardInfo"]
	path = iOS_Business/BLCheckRedCardInfo
	url = git@gitlab.bl.com:iOS_Business/BLCheckRedCardInfo
[submodule "iOS_BusinessCategories/BLBusinessCategoryRouterCenter"]
	path = iOS_BusinessCategories/BLBusinessCategoryRouterCenter
	url = git@gitlab.bl.com:iOS_BusinessCategories/BLBusinessCategoryRouterCenter
[submodule "iOS_Foundation/BLWeChatSDK"]
	path = iOS_Foundation/BLWeChatSDK
	url = git@gitlab.bl.com:iOS_Foundation/BLWeChatSDK
[submodule "iOS_ViewComponents/RisoOrderDetailTransactionInfoCell"]
	path = iOS_ViewComponents/RisoOrderDetailTransactionInfoCell
	url = git@gitlab.bl.com:iOS_ViewComponents/RisoOrderDetailTransactionInfoCell
[submodule "iOS_ViewComponents/BLGoStoreModule"]
	path = iOS_ViewComponents/BLGoStoreModule
	url = git@gitlab.bl.com:iOS_ViewComponents/BLGoStoreModule
[submodule "iOS_Business/BLCouponFloatingView"]
	path = iOS_Business/BLCouponFloatingView
	url = git@gitlab.bl.com:iOS_Business/BLCouponFloatingView
[submodule "iOS_Business/DJScanBarcodeOrderConfirm"]
	path = iOS_Business/DJScanBarcodeOrderConfirm
	url = git@gitlab.bl.com:iOS_Business/DJScanBarcodeOrderConfirm
[submodule "iOS_Business/DJScanBarcodeView"]
	path = iOS_Business/DJScanBarcodeView
	url = git@gitlab.bl.com:iOS_Business/DJScanBarcodeView
[submodule "iOS_Business/RisoOrderListViewController"]
	path = iOS_Business/RisoOrderListViewController
	url = git@gitlab.bl.com:iOS_Business/RisoOrderListViewController
[submodule "iOS_Business/RisoPersonalCenterViewController"]
	path = iOS_Business/RisoPersonalCenterViewController
	url = git@gitlab.bl.com:iOS_Business/RisoPersonalCenterViewController
[submodule "iOS_ViewComponents/RisoLoadingView"]
	path = iOS_ViewComponents/RisoLoadingView
	url = git@gitlab.bl.com:iOS_ViewComponents/RisoLoadingView
[submodule "iOS_BusinessCategories/RisoBusinessCategoryRouterCenter"]
	path = iOS_BusinessCategories/RisoBusinessCategoryRouterCenter
	url = git@gitlab.bl.com:iOS_BusinessCategories/RisoBusinessCategoryRouterCenter
[submodule "iOS_Business/BLQualityLifeChannel"]
	path = iOS_Business/BLQualityLifeChannel
	url = git@gitlab.bl.com:iOS_Business/BLQualityLifeChannel
[submodule "iOS_Business/BLDaoJia"]
	path = iOS_Business/BLDaoJia
	url = git@gitlab.bl.com:iOS_Business/BLDaoJia
[submodule "iOS_Business/DJResourceJumpManager"]
	path = iOS_Business/DJResourceJumpManager
	url = git@gitlab.bl.com:iOS_Business/DJResourceJumpManager
[submodule "iOS_Business/DJHome"]
	path = iOS_Business/DJHome
	url = git@gitlab.bl.com:iOS_Business/DJHome
[submodule "iOS/RisoPaymentViewController"]
	path = iOS/RisoPaymentViewController
	url = git@gitlab.bl.com:iOS/RisoPaymentViewController
[submodule "iOS_Business/BLInvoiceTitle"]
	path = iOS_Business/BLInvoiceTitle
	url = git@gitlab.bl.com:iOS_Business/BLInvoiceTitle
[submodule "iOS_ViewComponents/IBLAddressSelectPickerView"]
	path = iOS_ViewComponents/IBLAddressSelectPickerView
	url = git@gitlab.bl.com:iOS_ViewComponents/IBLAddressSelectPickerView
[submodule "iOS_ViewComponents/RisoGoodsDetailBottomAddShopBasketView"]
	path = iOS_ViewComponents/RisoGoodsDetailBottomAddShopBasketView
	url = git@gitlab.bl.com:iOS_ViewComponents/RisoGoodsDetailBottomAddShopBasketView
[submodule "iOS_Business/BLViewDownloadsInvoice"]
	path = iOS_Business/BLViewDownloadsInvoice
	url = git@gitlab.bl.com:iOS_Business/BLViewDownloadsInvoice
[submodule "iOS_Tools/ConfigPrivatePodScript"]
	path = iOS_Tools/ConfigPrivatePodScript
	url = git@gitlab.bl.com:iOS_Tools/ConfigPrivatePodScript
[submodule "iOS_Business/BLSeeLikeMoudle"]
	path = iOS_Business/BLSeeLikeMoudle
	url = git@gitlab.bl.com:iOS_Business/BLSeeLikeMoudle
[submodule "iOS_Business/BLVip"]
	path = iOS_Business/BLVip
	url = git@gitlab.bl.com:iOS_Business/BLVip
[submodule "iOS_Business/BLQRScannerMoudle"]
	path = iOS_Business/BLQRScannerMoudle
	url = git@gitlab.bl.com:iOS_Business/BLQRScannerMoudle
[submodule "iOS_Business/BLOrderConfirmSelectStore"]
	path = iOS_Business/BLOrderConfirmSelectStore
	url = git@gitlab.bl.com:iOS_Business/BLOrderConfirmSelectStore
[submodule "iOS/RisoCouponListViewController"]
	path = iOS/RisoCouponListViewController
	url = git@gitlab.bl.com:iOS/RisoCouponListViewController
[submodule "iOS_Foundation/BLDataCenterModule"]
	path = iOS_Foundation/BLDataCenterModule
	url = git@gitlab.bl.com:iOS_Foundation/BLDataCenterModule
[submodule "iOS_Business/BLLoginRegister"]
	path = iOS_Business/BLLoginRegister
	url = git@gitlab.bl.com:iOS_Business/BLLoginRegister
[submodule "iOS_Business/RisoScanBuyOrderConfirmViewController"]
	path = iOS_Business/RisoScanBuyOrderConfirmViewController
	url = git@gitlab.bl.com:iOS_Business/RisoScanBuyOrderConfirmViewController
[submodule "iOS_Business/RisoSelfServiceOrderConfirm"]
	path = iOS_Business/RisoSelfServiceOrderConfirm
	url = git@gitlab.bl.com:iOS_Business/RisoSelfServiceOrderConfirm
[submodule "iOS_Foundation/BLNetworking"]
	path = iOS_Foundation/BLNetworking
	url = git@gitlab.bl.com:iOS_Foundation/BLNetworking
[submodule "iOS/RisoiOSAppImages"]
	path = iOS/RisoiOSAppImages
	url = git@gitlab.bl.com:iOS/RisoiOSAppImages
[submodule "iOS_DataCenters/DJGlobalStoreManager"]
	path = iOS_DataCenters/DJGlobalStoreManager
	url = git@gitlab.bl.com:iOS_DataCenters/DJGlobalStoreManager
[submodule "iOS_Business/BLProductCommentView"]
	path = iOS_Business/BLProductCommentView
	url = git@gitlab.bl.com:iOS_Business/BLProductCommentView
[submodule "iOS_ViewComponents/SDCycleScrollView"]
	path = iOS_ViewComponents/SDCycleScrollView
	url = git@gitlab.bl.com:iOS_ViewComponents/SDCycleScrollView
[submodule "iOS_ViewComponents/BLPagerListView"]
	path = iOS_ViewComponents/BLPagerListView
	url = git@gitlab.bl.com:iOS_ViewComponents/BLPagerListView
[submodule "iOS_ViewComponents/RisoLaunchAdModule"]
	path = iOS_ViewComponents/RisoLaunchAdModule
	url = git@gitlab.bl.com:iOS_ViewComponents/RisoLaunchAdModule
[submodule "iOS_Business/BLMapModule"]
	path = iOS_Business/BLMapModule
	url = git@gitlab.bl.com:iOS_Business/BLMapModule
[submodule "iOS_ViewComponents/IBLNavigationBar"]
	path = iOS_ViewComponents/IBLNavigationBar
	url = git@gitlab.bl.com:iOS_ViewComponents/IBLNavigationBar
[submodule "iOS_Business/BLCartService"]
	path = iOS_Business/BLCartService
	url = git@gitlab.bl.com:iOS_Business/BLCartService
[submodule "iOS_ViewComponents/BLSegmentControl"]
	path = iOS_ViewComponents/BLSegmentControl
	url = git@gitlab.bl.com:iOS_ViewComponents/BLSegmentControl
[submodule "iOS_Business/DJPaySuccessful"]
	path = iOS_Business/DJPaySuccessful
	url = git@gitlab.bl.com:iOS_Business/DJPaySuccessful
[submodule "iOS_Business/DJNewHomeModule"]
	path = iOS_Business/DJNewHomeModule
	url = git@gitlab.bl.com:iOS_Business/DJNewHomeModule
[submodule "iOS_ViewComponents/BLRefresh"]
	path = iOS_ViewComponents/BLRefresh
	url = git@gitlab.bl.com:iOS_ViewComponents/BLRefresh
[submodule "iOS_ViewComponents/BLPaySDKFramework"]
	path = iOS_ViewComponents/BLPaySDKFramework
	url = git@gitlab.bl.com:iOS_ViewComponents/BLPaySDKFramework
[submodule "iOS_Business/BLSearchBarContext"]
	path = iOS_Business/BLSearchBarContext
	url = git@gitlab.bl.com:iOS_Business/BLSearchBarContext
[submodule "iOS_Foundation/EGOAPIManagers"]
	path = iOS_Foundation/EGOAPIManagers
	url = git@gitlab.bl.com:iOS_Foundation/EGOAPIManagers
[submodule "iOS_ViewComponents/BLQRAVCaptureModule"]
	path = iOS_ViewComponents/BLQRAVCaptureModule
	url = git@gitlab.bl.com:iOS_ViewComponents/BLQRAVCaptureModule
[submodule "iOS_Business/BLFindGoodShopModule"]
	path = iOS_Business/BLFindGoodShopModule
	url = git@gitlab.bl.com:iOS_Business/BLFindGoodShopModule
[submodule "iOS_Business/BLBindRedCard"]
	path = iOS_Business/BLBindRedCard
	url = git@gitlab.bl.com:iOS_Business/BLBindRedCard
[submodule "iOS_Business/BLLinkAccountSDK"]
	path = iOS_Business/BLLinkAccountSDK
	url = git@gitlab.bl.com:iOS_Business/BLLinkAccountSDK
[submodule "iOS_ViewComponents/IBLProgressHud"]
	path = iOS_ViewComponents/IBLProgressHud
	url = git@gitlab.bl.com:iOS_ViewComponents/IBLProgressHud
[submodule "iOS_Business/DJHomeDataSource"]
	path = iOS_Business/DJHomeDataSource
	url = git@gitlab.bl.com:iOS_Business/DJHomeDataSource
[submodule "iOS_Business/DJHomePageViewComponents"]
	path = iOS_Business/DJHomePageViewComponents
	url = git@gitlab.bl.com:iOS_Business/DJHomePageViewComponents
[submodule "iOS_Business/DJHomeViewControllers"]
	path = iOS_Business/DJHomeViewControllers
	url = git@gitlab.bl.com:iOS_Business/DJHomeViewControllers
[submodule "iOS_Business/DJAMapForStoreList"]
	path = iOS_Business/DJAMapForStoreList
	url = git@gitlab.bl.com:iOS_Business/DJAMapForStoreList
[submodule "iOS_Business/BLFootMark"]
	path = iOS_Business/BLFootMark
	url = git@gitlab.bl.com:iOS_Business/BLFootMark
[submodule "iOS/BLEGO"]
	path = iOS/BLEGO
	url = git@gitlab.bl.com:iOS/BLEGO
[submodule "iOS_ViewComponents/EGOHomeModule"]
	path = iOS_ViewComponents/EGOHomeModule
	url = git@gitlab.bl.com:iOS_ViewComponents/EGOHomeModule
[submodule "iOS_ViewComponents/EGOPinDanModule"]
	path = iOS_ViewComponents/EGOPinDanModule
	url = git@gitlab.bl.com:iOS_ViewComponents/EGOPinDanModule
[submodule "iOS_DataCenters/EGODataCenter"]
	path = iOS_DataCenters/EGODataCenter
	url = git@gitlab.bl.com:iOS_DataCenters/EGODataCenter
[submodule "iOS_ViewComponents/CTWKWebView"]
	path = iOS_ViewComponents/CTWKWebView
	url = git@gitlab.bl.com:iOS_ViewComponents/CTWKWebView
[submodule "iOS_DataCenters/BLBasketDataCenter"]
	path = iOS_DataCenters/BLBasketDataCenter
	url = git@gitlab.bl.com:iOS_DataCenters/BLBasketDataCenter
[submodule "iOS_ViewComponents/BLOrderConfirmBottomView"]
	path = iOS_ViewComponents/BLOrderConfirmBottomView
	url = git@gitlab.bl.com:iOS_ViewComponents/BLOrderConfirmBottomView
[submodule "iOS_Business/DJOrderChooseDeliveryTimeView"]
	path = iOS_Business/DJOrderChooseDeliveryTimeView
	url = git@gitlab.bl.com:iOS_Business/DJOrderChooseDeliveryTimeView
[submodule "iOS_Business/BLAddressCRUD"]
	path = iOS_Business/BLAddressCRUD
	url = git@gitlab.bl.com:iOS_Business/BLAddressCRUD
[submodule "iOS_ViewComponents/JTNavigationController"]
	path = iOS_ViewComponents/JTNavigationController
	url = git@gitlab.bl.com:iOS_ViewComponents/JTNavigationController
[submodule "iOS_Business/BLTagGoodsListView"]
	path = iOS_Business/BLTagGoodsListView
	url = git@gitlab.bl.com:iOS_Business/BLTagGoodsListView
[submodule "iOS_Business/blfindpagerlistview"]
	path = iOS_Business/blfindpagerlistview
	url = git@gitlab.bl.com:iOS_Business/blfindpagerlistview
[submodule "iOS_Business/BLPayCode"]
	path = iOS_Business/BLPayCode
	url = git@gitlab.bl.com:iOS_Business/BLPayCode
[submodule "iOS_Business/BLRisoHomePageViewController"]
	path = iOS_Business/BLRisoHomePageViewController
	url = git@gitlab.bl.com:iOS_Business/BLRisoHomePageViewController
[submodule "iOS_Business/BLRealNameInformation"]
	path = iOS_Business/BLRealNameInformation
	url = git@gitlab.bl.com:iOS_Business/BLRealNameInformation
[submodule "iOS_Tools/HandyFrame"]
	path = iOS_Tools/HandyFrame
	url = git@gitlab.bl.com:iOS_Tools/HandyFrame
[submodule "iOS_ViewComponents/BLCloudStoreChannelModule"]
	path = iOS_ViewComponents/BLCloudStoreChannelModule
	url = git@gitlab.bl.com:iOS_ViewComponents/BLCloudStoreChannelModule
[submodule "iOS_Business/BLFresh"]
	path = iOS_Business/BLFresh
	url = git@gitlab.bl.com:iOS_Business/BLFresh
[submodule "iOS_Business/BLPaySuccessful"]
	path = iOS_Business/BLPaySuccessful
	url = git@gitlab.bl.com:iOS_Business/BLPaySuccessful
[submodule "iOS_BusinessCategories/EGOBusinessCategoryRouterCenter"]
	path = iOS_BusinessCategories/EGOBusinessCategoryRouterCenter
	url = git@gitlab.bl.com:iOS_BusinessCategories/EGOBusinessCategoryRouterCenter
[submodule "iOS_ViewComponents/BLGuessLikeGoodsCell"]
	path = iOS_ViewComponents/BLGuessLikeGoodsCell
	url = git@gitlab.bl.com:iOS_ViewComponents/BLGuessLikeGoodsCell
